{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajoute une nouvelle série</h1>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Add program">
        {{ form_end(form) }}
    </div>
{% endblock %}